marquee{
  width:100%;
 background-color:lightblue;
 font-size: 30px;
}
h1{
  color:turquoise;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
h2{
  color:turquoise;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
  text-align: center;
  background: linear-gradient(to left, #0b8793, #360033);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 1.5em;
}
.form {
  width: 70%;
    border-radius: 20px;
    background: white;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
    height: auto;
}
.fill {
  color: red;
  font-weight: 500;
}

 .input-field {
  display: block;
  margin: 40px;
}
.input-field label {
  margin-right: 20px;
}
}
.input:active {
  border-color:  #428bca;
}
.button {
  text-align: center;
  font-size: 15px;
  padding: 7px;
  border-radius: 7px;
  background: #428bca;
  border: 1px solid #428bca;
  color: white;
  outline-style: button;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.button:hover {
  color: 	#428bca;
  background-color: white;
}
.type {
  color: blue;
  text-transform: uppercase;
}
.not {
  color: red;
}
